@import url('https://fonts.googleapis.com/css2?family=Fondamento&family=Modak&display=swap');

body{
	position: absolute;
	width: 100%;
	height: 100%;
    font-family: 'Modak', cursive;
}
body, h1{
	margin: 0; quotes: ;
}
h1,h2,h3,h4{
	font-weight: 100;
}
.titulo{
	text-align: center;
	font-variant: small-caps;
	height: 12%;
	background: linear-gradient(45deg,#ccc,transparent); 
}
